<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Sistema de Gerenciamento de Biblioteca</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body>
<sec:ifAnyGranted roles="ROLE_ADMIN">
	<div class="container my-2">

		<h1>Livros</h1>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Título</th>
					<th>Autor(es)</th>
					<th>Editora</th>
					<th>ISBN/ISSN</th>
					<th>Ano de Publicação</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="livro : ${listaLivros}">
					<td th:text="${livro.titulo}"></td>
					<td th:text="${livro.autor}"></td>
					<td th:text="${livro.editora}"></td>
					<td th:text="${livro.isbn}"></td>
					<td th:text="${livro.anoPublicacao}"></td>
					<td>
						<a th:href="@{/gerenciar/livros/{id}(id=${livro.id})}" class="btn btn-primary">Alterar</a>
					    
						<a th:href="@{/gerenciar/livros/excluir/{id}(id=${livro.id})}" class="btn btn-danger">Excluir</a>
					</td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{gerenciar/livros/novo}" class="btn btn-success ml-auto">Incluir Livro</a>
		<hr>
		<a th:href="@{/home}">Voltar</a>
	</div>
</body>

</html>