<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>Sistema de Gerenciamento de Biblioteca</title>
<!--/*/ <th:block th:include="fragments/geral.html :: headerfiles">
        </th:block> /*/-->
</head>
<body>
	<header th:insert="fragments/geral.html :: header"> </header>
	<div sec:authorize="hasAuthority('USER')">
	<div class="container my-2">
		<h2>Seja Bem vindo!</h2>
		<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
			<div class="col">
				<div class="card mb-4 shadow-sm">
					<div class="card-header">
						<h4 class="my-0 fw-normal">Área do Cliente</h4>
					</div>
					<div class="card-body">
						<ul class="list-unstyled mt-3 mb-4">
							<li>Reservar Livros</li>
						
						</ul>
						<a class="w-100 btn btn-lg btn-primary" th:href="@{gerenciar/livros}">Acessar</a>
					</div>
				</div>
			</div>
			<div sec:authorize="hasAuthority('USER')">
				<div class="col">
					<div class="card mb-4 shadow-sm">
						<div class="card-header">
							<h4 class="my-0 fw-normal">Área do Funcionário</h4>
						</div>
						<div class="card-body">
							<ul class="list-unstyled mt-3 mb-4">
								<li>Editar Usuário</li>
								<a class="w-100 btn btn-lg btn-primary" th:href="@{gerenciar/usuarios/}">Acessar</a>
								<li> Editar Livro</li>
								<a class="w-100 btn btn-lg btn-primary" th:href="@{gerenciar/livros/}">Acessar</a>
							</ul>
							
						</div>
					</div>
				</div>
			</div>
			<div sec:authorize="hasAuthority('ADMIN')">
				<div class="col">
					<div class="card mb-4 shadow-sm">
						<div class="card-header">
							<h4 class="my-0 fw-normal">Gerenciar Sistema - Administrador</h4>
						</div>
						<div class="card-body">
							<ul class="list-unstyled mt-3 mb-4">
								<li>Gerenciar Usuários</li>
								<a class="w-100 btn btn-lg btn-primary" th:href="@{gerenciar/usuarios}">Acessar</a>
								<li>Gerenciar Livros</li>
								<a class="w-100 btn btn-lg btn-primary" th:href="@{gerenciar/livros}">Acessar</a>
								<li>Gerenciar Reservas</li>
								<a class="w-100 btn btn-lg btn-primary" th:href="@{gerenciar/reservas}">Acessar</a>
							</ul>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>